{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/applicationlanding/css/landing.css"
        "bundles/applicationlanding/css/icomoon.css"
    filter="yui_css, cssrewrite"
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=PT+Sans:400,700'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans+Narrow" />
{% endblock stylesheets %}

{% block content %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Visualmasters</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">What we do</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#descriptions">Our Works</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#media">Media</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact Us</a>
                    </li>
                    <li>
                        <a href="#" class="order">Order</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section id="main" class="section-img">
        <div class="section-content">
            <div class="section-content-inner">
                <div class="headers text-left">
                    <h1 class="text-uppercase header-1">3D Design</h1>
                    <h1 class="text-uppercase header-2">That lives</h1>
                    <h4>Visualmasters provides excellent 3D interior designs of any difficulty</h4>
                    <h4>We also offer other kinds of 3D visualisation, 3D models creation & even more</h4>
                </div>
                {#<a href="#about" class="btn btn-primary btn-xl page-scroll pull-left"><span class="glyphicon glyphicon-menu-down"></span></a>#}
            </div>
        </div>
        <div class="footer main-footer">
            <div class="row">
                <div class="col-xs-3">
                    <a href="">3D Interior Design</a>
                </div>
                <div class="col-xs-3">
                    <a href="">3D Exterior Design</a>
                </div>
                <div class="col-xs-3">
                    <a href="">Web development</a>
                </div>
                <div class="col-xs-3">
                    <a href="">Special projects</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>

    <section id="about" class="bg-grey">
        <div class="container">
            <h1 class="about-header">Who We Are</h1>
            <div class="row">
                <div class="col-xs-4">
                    <h2><span class="icon icon-vm"></span></h2>
                    <h3>VISUALMASTERS</h3>
                    <p>We are a group of people who are seeking of a chance to make this world better and more beautiful. We provide great design descisions for all types of premises. Our main goal is to visualize your inner space.</p>
                </div>
                <div class="col-xs-4">
                    <h2><span class="icon icon-flag"></span></h2>
                    <h3>Our mission</h3>
                    <p>Doing our best, VisualMasters team improve your everyday life by making it more comfortable and more beneficial. Remember - your surrounding influences your inner world, your mood and your character.</p>
                </div>
                <div class="col-xs-4">
                    <h2><span class="icon icon-team"></span></h2>
                    <h3>Professional team</h3>
                    <p>Our team consists of exclusive professionals you can rely on. For years we've been doing our best in moviemaking, creating an interior and exterior design projects, web development and web design.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <h4><span class="icon icon-computer"></span></h4>
                    <h4>High-tech Soft</h4>
                    <p>We create high quality product, which helps you to visualize your thoughts and pictures in your mind.</p>
                </div>
                <div class="col-xs-3">
                    <h4><span class="icon icon-time"></span></h4>
                    <h4>Time economy</h4>
                    <p>Leave your order online. Consult to our specialists via Skype, this helps us to understand you in a better way.</p>
                </div>
                <div class="col-xs-3">
                    <h4><span class="icon icon-wallet"></span></h4>
                    <h4>Money saving</h4>
                    <p>We offer competitive prices to our clients. The average price for the project is lower than you may suspect.</p>
                </div>
                <div class="col-xs-3">
                    <h4><span class="icon icon-anvil"></span></h4>
                    <h4>Wide range of services</h4>
                    <p>From interior & exterior design to filmmaking & crafting production - it depends on your needs.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-2">
                    <a href="">
                        <span class="icon-3dmax"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="">
                        <span class="icon-autodesk"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="">
                        <span class="icon-blender"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="">
                        <span class="icon-sketchup"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="">
                        <span class="icon-adobe"></span>
                    </a>
                </div>
                <div class="col-xs-1"></div>
            </div>
        </div>
    </section>

    <section id="services" class="bg-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Visualize your dreams</h2>
                    <h2 class="section-heading-dimmed">Before they come true</h2>
                </div>
            </div>

            <div class="row works-description">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <img src="{{ asset('bundles/applicationlanding/images/cube.png')  }}" class="img-header img-responsive" alt="">
                        <h3>Creating 3D Scenes</h3>
                        <p>We specialize in creating a 3D design of interiors and exteriors</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <img src="{{ asset('bundles/applicationlanding/images/computer.png')  }}" class="img-header img-responsive" alt="">
                        <h3>Integration to WEB</h3>
                        <p>IT department set up to deal with any problems with the integration of your 3D products to WEB</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <img src="{{ asset('bundles/applicationlanding/images/factory.png')  }}" class="img-header img-responsive" alt="">
                        <h3>3D to Real Things</h3>
                        <p>Creation of real things from 3D models. Wood, steel, galss and much more.</p>
                    </div>
                </div>
            </div>

            <h2 class="section-heading-underlined">What are you interested in?</h2>
        </div>
        <div class="footer main-footer">
            <div class="row">
                <div class="col-xs-3">
                    <a href="#tab-interior">3D Interior Design</a>
                </div>
                <div class="col-xs-3">
                    <a href="#tab-exterior">3D Exterior Design</a>
                </div>
                <div class="col-xs-3">
                    <a href="#tab-web">Web development</a>
                </div>
                <div class="col-xs-3">
                    <a href="#tab-special">Special projects</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>

    <section id="descriptions" class="bg-grey">
        <div class="container container-fluid">
            <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab-interior">
                        <div class="row row-headers">
                            <h2>3d <strong>interior</strong> design</h2>
                            <h4>
                                Interior design is the first and the one of the most important part in creating your living space. Doing it more comfortable and aesthetic, you can't avoid designing.
                                Ordering a design project minimises your risks of getting bad results and saves your nerves.
                            </h4>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/applicationlanding/images/number-one.png')  }}" class="img-header" alt="">
                            </div>
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/applicationlanding/images/number-two.png')  }}" class="img-header" alt="">
                            </div>
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/applicationlanding/images/number-three.png')  }}" class="img-header" alt="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 col-text">
                                <p>
                                    The first step to bringing a project to life is creating a sketch. We send it to the
                                    client to confirm and make corrections if necessary.
                                </p>
                            </div>
                            <div class="col-xs-4 col-text">
                                <p>
                                    On the next step you'll be given black&white rendering, a net without textures and a list
                                    of items, which will go in the project. In other words, it's a virtual edition of the
                                    whole project, a sceleton. This step considers ergonomic issue of space, apartment's
                                    practiciality.
                                </p>
                            </div>
                            <div class="col-xs-4 col-text">
                                <p>
                                    The last step considers all components, accurate detalization, shadows, lights,
                                    materials. You are getting a finished project in any resolution you need. This will be
                                    more than enough to any of your furnishing masters.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <img src="{{ asset('bundles/applicationlanding/images/couch.png')  }}" class="img-header" alt="">
                            <p class="text-center next-page">
                                <span class="text-uppercase">our works</span>
                                <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                            </p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab-exterior">
                        <div class="row row-headers">
                            <h2>3d <strong>exterior</strong> design</h2>
                            <h4>
                                Interior design is the first and the one of the most important part in creating your living space. Doing it more comfortable and aesthetic, you can't avoid designing.
                                Ordering a design project minimises your risks of getting bad results and saves your nerves.
                            </h4>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/applicationlanding/images/number-one.png')  }}" class="img-header" alt="">
                            </div>
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/applicationlanding/images/number-two.png')  }}" class="img-header" alt="">
                            </div>
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/applicationlanding/images/number-three.png')  }}" class="img-header" alt="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 col-text">
                                <p>
                                    The first step to bringing a project to life is creating a sketch. We send it to the
                                    client to confirm and make corrections if necessary.
                                </p>
                            </div>
                            <div class="col-xs-4 col-text">
                                <p>
                                    On the next step you'll be given black&white rendering, a net without textures and a list
                                    of items, which will go in the project. In other words, it's a virtual edition of the
                                    whole project, a sceleton. This step considers ergonomic issue of space, apartment's
                                    practiciality.
                                </p>
                            </div>
                            <div class="col-xs-4 col-text">
                                <p>
                                    The last step considers all components, accurate detalization, shadows, lights,
                                    materials. You are getting a finished project in any resolution you need. This will be
                                    more than enough to any of your furnishing masters.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <img src="{{ asset('bundles/applicationlanding/images/couch.png')  }}" class="img-header" alt="">
                            <p class="text-center next-page">
                                <span class="text-uppercase">our works</span>
                                <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                            </p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab-web">
                        <div class="row row-headers">
                            <h2><strong>Web</strong> development</h2>
                            <h4>
                                Interior design is the first and the one of the most important part in creating your living space. Doing it more comfortable and aesthetic, you can't avoid designing.
                                Ordering a design project minimises your risks of getting bad results and saves your nerves.
                            </h4>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/applicationlanding/images/number-one.png')  }}" class="img-header" alt="">
                            </div>
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/applicationlanding/images/number-two.png')  }}" class="img-header" alt="">
                            </div>
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/applicationlanding/images/number-three.png')  }}" class="img-header" alt="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 col-text">
                                <p>
                                    The first step to bringing a project to life is creating a sketch. We send it to the
                                    client to confirm and make corrections if necessary.
                                </p>
                            </div>
                            <div class="col-xs-4 col-text">
                                <p>
                                    On the next step you'll be given black&white rendering, a net without textures and a list
                                    of items, which will go in the project. In other words, it's a virtual edition of the
                                    whole project, a sceleton. This step considers ergonomic issue of space, apartment's
                                    practiciality.
                                </p>
                            </div>
                            <div class="col-xs-4 col-text">
                                <p>
                                    The last step considers all components, accurate detalization, shadows, lights,
                                    materials. You are getting a finished project in any resolution you need. This will be
                                    more than enough to any of your furnishing masters.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <img src="{{ asset('bundles/applicationlanding/images/couch.png')  }}" class="img-header" alt="">
                            <p class="text-center next-page">
                                <span class="text-uppercase">our works</span>
                                <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                            </p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab-special">
                        <div class="row row-headers">
                            <h2><strong>Special</strong> orders</h2>
                            <h4>
                                Interior design is the first and the one of the most important part in creating your living space. Doing it more comfortable and aesthetic, you can't avoid designing.
                                Ordering a design project minimises your risks of getting bad results and saves your nerves.
                            </h4>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/applicationlanding/images/number-one.png')  }}" class="img-header" alt="">
                            </div>
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/applicationlanding/images/number-two.png')  }}" class="img-header" alt="">
                            </div>
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/applicationlanding/images/number-three.png')  }}" class="img-header" alt="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 col-text">
                                <p>
                                    The first step to bringing a project to life is creating a sketch. We send it to the
                                    client to confirm and make corrections if necessary.
                                </p>
                            </div>
                            <div class="col-xs-4 col-text">
                                <p>
                                    On the next step you'll be given black&white rendering, a net without textures and a list
                                    of items, which will go in the project. In other words, it's a virtual edition of the
                                    whole project, a sceleton. This step considers ergonomic issue of space, apartment's
                                    practiciality.
                                </p>
                            </div>
                            <div class="col-xs-4 col-text">
                                <p>
                                    The last step considers all components, accurate detalization, shadows, lights,
                                    materials. You are getting a finished project in any resolution you need. This will be
                                    more than enough to any of your furnishing masters.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <img src="{{ asset('bundles/applicationlanding/images/couch.png')  }}" class="img-header" alt="">
                            <p class="text-center next-page">
                                <span class="text-uppercase">our works</span>
                                <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-3 col-sm-6">
                        <h3 class="our-works-heading">Our Works</h3>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/2.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/3.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/4.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/5.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/6.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/1.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/2.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/3.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/4.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/5.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/6.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="media">
        <div class="container">
            <h2>Watch Our Showreel</h2>
            <iframe src="https://player.vimeo.com/video/157667168?color=ffc796&title=0&byline=0&portrait=0&badge=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">email@mail.com</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        (function (){
            'use strict';

            $('.main-footer a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
            $('#myTabs a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
        })();
    </script>

{% endblock javascripts %}