{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .header-1 {
            font-weight: bold;
            font-size: 6em;
        }

        .header-2 {
            font-weight: bold;
            font-size: 7em;
        }

        section .footer  {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: white;
            height: 50px;
        }

        section .footer .row, section .footer .row .col-xs-3 {
            height: 100%;
            margin: 0;
        }

        section .footer a {
            display: block;
            height: 100%;
            padding-top: 15px;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Visualmasters</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section id="main">
        <div class="section-content">
            <div class="section-content-inner">
                <div class="text-left">
                    <h1 class="text-uppercase header-1">3D Design</h1>
                    <h1 class="text-uppercase header-2">That lives</h1>
                    <h4>Visualmasters provides excellent 3D interior designs of any difficulty</h4>
                    <h4>We also offer other kinds of 3D visualisation, 3D models creation & even more</h4>
                </div>
                {#<a href="#about" class="btn btn-primary btn-xl page-scroll pull-left"><span class="glyphicon glyphicon-menu-down"></span></a>#}
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-xs-3">
                    <a href="">3D Interior Design</a>
                </div>
                <div class="col-xs-3">
                    <a href="">3D Exterior Design</a>
                </div>
                <div class="col-xs-3">
                    <a href="">Web development</a>
                </div>
                <div class="col-xs-3">
                    <a href="">Special projects</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <h1>Who we are</h1>
            <div class="row">
                <div class="col-xs-4">
                    <h3>VISUALMASTERS</h3>
                    <p>We are a group of people who are seeking of a chance to make this world better and more beautiful. We provide great design descisions for all types of premises. Our main goal is to visualize your inner space.</p>
                </div>
                <div class="col-xs-4">
                    <h3>Our mission</h3>
                    <p>Doing our best, VisualMasters team improve your everyday life by making it more comfortable and more beneficial. Remember - your surrounding influences your inner world, your mood and your character.</p>
                </div>
                <div class="col-xs-4">
                    <h3>Professional team</h3>
                    <p>Our team consists of exclusive professionals you can rely on. For years we've been doing our best in moviemaking, creating an interior and exterior design projects, web development and web design.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <h4>High-tech Soft</h4>
                    <p>We create high quality product, which helps you to visualize your thoughts and pictures in your mind.</p>
                </div>
                <div class="col-xs-3">
                    <h4>Time economy</h4>
                    <p>Leave your order online. Consult to our specialists via sSkype, this helps us to understand you in a better way.</p>
                </div>
                <div class="col-xs-3">
                    <h4>Money saving</h4>
                    <p>We offer competitive prices to our clients. The average price for the project is lower than you may suspect.</p>
                </div>
                <div class="col-xs-3">
                    <h4>Wide range of services</h4>
                    <p>From interior & exterior design to filmmaking & crafting production - it depends on your needs.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-2"><a href="">3dmax</a></div>
                <div class="col-xs-2"><a href="">autodesk</a></div>
                <div class="col-xs-2"><a href="">blender</a></div>
                <div class="col-xs-2"><a href="">SketchUp</a></div>
                <div class="col-xs-2"><a href="">Adobe</a></div>
                <div class="col-xs-1"></div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Visualize your dreams</h2>
                    <h2 class="section-heading-dimmed">Before they come true</h2>
                    <hr class="primary">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Creating 3D Scenes</h3>
                        <p class="text-muted">We specialize in creating a 3D design of interiors and exteriors</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Integration to WEB</h3>
                        <p class="text-muted">IT department set up to deal with any problems with the integration of your 3D products to WEB</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>3D to Real Things</h3>
                        <p class="text-muted">Creation of real things from 3D models. Wood, steel, galss and much more.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <h2 class="section-heading-underlined">
                    What are you interested in?
                </h2>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/1.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/2.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/3.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/4.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/5.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ asset('bundles/applicationlanding/images/portfolio/6.jpg')  }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">email@mail.com</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}