<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}No-title Page{% endblock title %}</title>

        {% block stylesheets %}
            {% stylesheets
                "@ImperivSiteBundle/Resources/public/css/bootstrap.min.css"
                "@ImperivSiteBundle/Resources/public/css/main.css"
                filter="yui_css"
            %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock stylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <header>
            <ul class="navigator">
                <li>
                    <a href="{{ path('index_page') }}" {{ (app.request.get('_route') == 'gallery_index') ? "class=\"selected\"" }}>
                        Home
                    </a>
                </li>
                <li>
                    <a href="{{ path('gallery_page', {'gallery_name' : 'design'}) }}" {{ (app.request.get('_route') == 'gallery_index') ? "class=\"selected\"" }}>3D Design</a>
                </li>
                <li>
                    <a href="{{ path('gallery_page', {'gallery_name' : 'art'}) }}" {{ (app.request.get('_route') == 'gallery_index') ? "class=\"selected\"" }}>Graphic Art</a>
                </li>
                <li>
                    <a href="#">Video Editing</a>
                </li>
                <li>
                    <a href="{{ path('gallery_page', {'gallery_name' : 'models'}) }}" {{ (app.request.get('_route') == 'gallery_index') ? "class=\"selected\"" }}>Models</a>
                </li>
                <li>
                    <a href="#" id="explore" >Explore more</a>
                </li>
            </ul>
        </header>

        {% block content %}{% endblock content %}
            
        {% block javascripts %}
            {% javascripts
                "@ImperivSiteBundle/Resources/public/js/jquery_2.1.3.min.js"
                filter="yui_js"
            %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
        {% endblock javascripts %}
    </body>
</html>