{% extends "::base.html.twig" %}

{% set onIndexPage = app.request.get('_route') == 'index_page' %}

{% block title %}
    {{ gallery.metaTitle }}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/imperivgallery/css/jquery.maximage.min.css"
        "bundles/imperivgallery/css/gallery.css"
        "bundles/imperivsite/css/bootstrap-switch.css"
        "bundles/imperivsite/css/datetimepicker.css"
    filter="yui_css" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="first_object"></div>
                <div class="object" id="second_object"></div>
                <div class="object" id="third_object"></div>
            </div>
        </div>
    </div>

    {#-------------- Gallery controls --------------#}
    <div id="gallery_controls">
        <div id="arrow_left" {{ not onIndexPage ? 'class="toggle-follows"' }}>
            {% image 'bundles/imperivgallery/images/arrow_left.png' %}
                <img src="{{ asset_url }}" alt="Slide Left" />
            {% endimage %}
        </div>
        <div id="arrow_right">
            {% image 'bundles/imperivgallery/images/arrow_right.png' %}
                <img src="{{ asset_url }}" alt="Slide Right" />
            {% endimage %}
        </div>

        {% if not onIndexPage %}
            <div id="nav_slideshow"><ul></ul></div>
            <div id="toggle_slideshow"><span class="glyphicon glyphicon-pause"></span></div>
        {% endif %}
    </div>
    {#-------------- Gallery controls --------------#}

    {% if gallery.pageName != 'home' and gallery.detailedDescription %}
        <div id="ribbon-left" class="ribbon ribbon-open">
            <span id="content">Know more</span>
        </div>
        <div class="foreground invisible">
            <div id="ribbon-right" class="ribbon ribbon-close">
                <span id="content">Know less</span>
            </div>
            <div class="description invisible">
                {{ gallery.detailedDescription|raw }}
                <div class="text-center order-button">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#{{ gallery.pageName|slugify }}">Order Now</a>
                </div>
            </div>
        </div>
    {% endif %}

    <div id="maximage">
        {% for slide in gallery.slides %}
            <div class="item">
                {% media slide.imageContent, 'big' %}

                {#-------------- In-slide content --------------#}
                {% if (slide.textContent is not null) %}
                    {% set transparentZoneParameters = slide.transparentZoneParameters|unserialize %}
                    {% set isTransparentZoneVertical = transparentZoneParameters.orientation == 1 %}
                    {% set transparentZoneStyle = "background: #" ~ transparentZoneParameters.color ~ "; opacity: " ~ transparentZoneParameters.opacity ~ "; " %}
                    {% if isTransparentZoneVertical %}
                        {% set transparentZoneStyle =  transparentZoneStyle ~ "width: " ~ transparentZoneParameters.size ~ "px;" ~
                            (loop.last ? "margin-right: -" : "margin-left: -") ~ ((transparentZoneParameters.size/2)-40) ~ "px;" ~
                            "left: " ~ transparentZoneParameters.position ~ "%;" %}
                    {% else %}
                        {% set transparentZoneStyle =  transparentZoneStyle ~ "height: " ~ transparentZoneParameters.size ~ "px;" ~
                            "top: " ~ transparentZoneParameters.position ~ "%;" %}
                    {% endif %}

                    <div class="transp-zone {{ isTransparentZoneVertical ? "transp-zone-vertical" : "transp-zone-horizontal" }}"
                         style="{{ transparentZoneStyle }}" data-size="{{ transparentZoneParameters.size }}" data-position="{{ transparentZoneParameters.position }}">
                        <div class="transp-zone-content">
                            {{ slide.textContent | raw }}
                        </div>
                        {% if transparentZoneParameters.closable %}
                            <div class="transp-zone-controls">
                                <span class="transp-zone-hide  glyphicon glyphicon-chevron-up"></span>
                                <span class="transp-zone-reveal glyphicon glyphicon-chevron-down invisible"></span>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                {#-------------- In-slide content --------------#}

            </div>
        {% endfor %}
    </div>

    {% if gallery.pageName != 'home' %}
        <div class="modal fade" id="{{ gallery.pageName|slugify }}" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    {{ form_start(form) }}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ gallery.pageName|capitalize }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ form_rest(form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        "bundles/imperivgallery/js/jquery.cycle.all.js"
        "bundles/imperivgallery/js/jquery.easing.1.3.js"
        "bundles/imperivgallery/js/jquery.maximage.js"
        "bundles/imperivsite/js/bootstrap-switch.js"
        "bundles/imperivsite/js/datetimepicker.js"
        "bundles/imperivsite/js/jquery.slimscroll.js"
    filter="yui_js" %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script type="text/javascript" charset="utf-8">
        var slidesTimeout = {{ gallery.slidesTimeout }},
            onIndexPage = {{ onIndexPage|number_format }};
            $("[type='checkbox']").bootstrapSwitch({
                size : 'small',
                onText : 'I',
                offText : 'O',
                onColor : 'success',
                offColor : 'warning'
            });
            $("[type='datetime']").datetimepicker({format:'d.m.Y H:i'});
            $('.modal-body').slimScroll({
                height: '500px'
            });
    </script>
    <script type="text/javascript" src="{{ asset("bundles/imperivgallery/js/gallery.js") }}"></script>
{% endblock javascripts%}