<section id="descriptions" class="bg-grey">
    <div class="container container-fluid">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-interior">
                <div class="row row-headers">
                    <h2>3d <strong>interior</strong> design</h2>
                    <h4>
                        Interior design is the first and the one of the most important part in creating your living space. Doing it more comfortable and aesthetic, you can't avoid designing.
                        Ordering a design project minimises your risks of getting bad results and saves your nerves.
                    </h4>
                </div>

                <div class="row vdivide interior-descriptions">
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/applicationlanding/images/number-one.png')  }}" class="img-responsive center-block" alt="Number one">
                        <p>
                            The first step to bringing a project to life is creating a sketch. We send it to the
                            client to confirm and make corrections if necessary.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/applicationlanding/images/number-two.png')  }}" class="img-responsive center-block" alt="Number two">
                        <p>
                            On the next step you'll be given black&white rendering, a net without textures and a list
                            of items, which will go in the project. In other words, it's a virtual edition of the
                            whole project, a sceleton. This step considers ergonomic issue of space, apartment's
                            practiciality.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/applicationlanding/images/number-three.png')  }}" class="img-responsive center-block" alt="Number three">
                        <p>
                            The last step considers all components, accurate detalization, shadows, lights,
                            materials. You are getting a finished project in any resolution you need. This will be
                            more than enough to any of your furnishing masters.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ asset('bundles/applicationlanding/images/couch.png')  }}" class="img-responsive center-block" alt="">
                    <a href="#portfolio" class="text-center page-scroll next-page">
                        <span class="text-uppercase">our works</span>
                        <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                    </a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-exterior">
                <div class="row row-headers">
                    <h2>3d <strong>exterior</strong> design</h2>
                    <h4>
                        Interior design is the first and the one of the most important part in creating your living space. Doing it more comfortable and aesthetic, you can't avoid designing.
                        Ordering a design project minimises your risks of getting bad results and saves your nerves.
                    </h4>
                </div>

                <div class="row">
                    <div class="col-md-4 col-text">
                        <p>
                            The first step to bringing a project to life is creating a sketch. We send it to the
                            client to confirm and make corrections if necessary.
                        </p>
                    </div>
                    <div class="col-md-4 col-text">
                        <p>
                            On the next step you'll be given black&white rendering, a net without textures and a list
                            of items, which will go in the project. In other words, it's a virtual edition of the
                            whole project, a sceleton. This step considers ergonomic issue of space, apartment's
                            practiciality.
                        </p>
                    </div>
                    <div class="col-md-4 col-text">
                        <p>
                            The last step considers all components, accurate detalization, shadows, lights,
                            materials. You are getting a finished project in any resolution you need. This will be
                            more than enough to any of your furnishing masters.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ asset('bundles/applicationlanding/images/couch.png')  }}" class="img-header" alt="">
                    <p class="text-center next-page">
                        <span class="text-uppercase">our works</span>
                        <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                    </p>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-web">
                <div class="row row-headers">
                    <h2><strong>Web</strong> development</h2>
                    <h4>
                        Interior design is the first and the one of the most important part in creating your living space. Doing it more comfortable and aesthetic, you can't avoid designing.
                        Ordering a design project minimises your risks of getting bad results and saves your nerves.
                    </h4>
                </div>

                <div class="row">
                    <div class="col-md-4 col-text">
                        <p>
                            The first step to bringing a project to life is creating a sketch. We send it to the
                            client to confirm and make corrections if necessary.
                        </p>
                    </div>
                    <div class="col-md-4 col-text">
                        <p>
                            On the next step you'll be given black&white rendering, a net without textures and a list
                            of items, which will go in the project. In other words, it's a virtual edition of the
                            whole project, a sceleton. This step considers ergonomic issue of space, apartment's
                            practiciality.
                        </p>
                    </div>
                    <div class="col-md-4 col-text">
                        <p>
                            The last step considers all components, accurate detalization, shadows, lights,
                            materials. You are getting a finished project in any resolution you need. This will be
                            more than enough to any of your furnishing masters.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ asset('bundles/applicationlanding/images/couch.png')  }}" class="img-header" alt="">
                    <p class="text-center next-page">
                        <span class="text-uppercase">our works</span>
                        <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                    </p>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-special">
                <div class="row row-headers">
                    <h2><strong>Special</strong> orders</h2>
                    <h4>
                        Interior design is the first and the one of the most important part in creating your living space. Doing it more comfortable and aesthetic, you can't avoid designing.
                        Ordering a design project minimises your risks of getting bad results and saves your nerves.
                    </h4>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/applicationlanding/images/number-one.png')  }}" class="img-header" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/applicationlanding/images/number-two.png')  }}" class="img-header" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/applicationlanding/images/number-three.png')  }}" class="img-header" alt="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-text">
                        <p>
                            The first step to bringing a project to life is creating a sketch. We send it to the
                            client to confirm and make corrections if necessary.
                        </p>
                    </div>
                    <div class="col-md-4 col-text">
                        <p>
                            On the next step you'll be given black&white rendering, a net without textures and a list
                            of items, which will go in the project. In other words, it's a virtual edition of the
                            whole project, a sceleton. This step considers ergonomic issue of space, apartment's
                            practiciality.
                        </p>
                    </div>
                    <div class="col-md-4 col-text">
                        <p>
                            The last step considers all components, accurate detalization, shadows, lights,
                            materials. You are getting a finished project in any resolution you need. This will be
                            more than enough to any of your furnishing masters.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ asset('bundles/applicationlanding/images/couch.png')  }}" class="img-header" alt="">
                    <p class="text-center next-page">
                        <span class="text-uppercase">our works</span>
                        <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>