<section id="descriptions" class="bg-grey">
    <div class="container container-fluid">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-interior">
                <div class="row row-headers">
                    <h2>3d <strong>interior</strong> design</h2>
                    <h4>
                        Interior design is the first and the one of the most important part in creating your living space. Doing it more comfortable and aesthetic, you can't avoid designing.
                        Ordering a design project minimises your risks of getting bad results and saves your nerves.
                    </h4>
                </div>

                <div class="row vdivide interior-descriptions">
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/applicationlanding/images/number-one.png')  }}" class="img-responsive center-block" alt="Number one">
                        <p>
                            The first step to bringing a project to life is creating a sketch. We send it to the
                            client to confirm and make corrections if necessary.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/applicationlanding/images/number-two.png')  }}" class="img-responsive center-block" alt="Number two">
                        <p>
                            On the next step you'll be given black&white rendering, a net without textures and a list
                            of items, which will go in the project. In other words, it's a virtual edition of the
                            whole project, a sceleton. This step considers ergonomic issue of space, apartment's
                            practiciality.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/applicationlanding/images/number-three.png')  }}" class="img-responsive center-block" alt="Number three">
                        <p>
                            The last step considers all components, accurate detalization, shadows, lights,
                            materials. You are getting a finished project in any resolution you need. This will be
                            more than enough to any of your furnishing masters.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ asset('bundles/applicationlanding/images/couch.png')  }}" class="img-responsive center-block" alt="">
                    <a href="#portfolio" class="text-center page-scroll next-page">
                        <span class="text-uppercase">our works</span>
                        <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                    </a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-exterior">
                <div class="row row-headers">
                    <h2>3d <strong>exterior</strong> design</h2>
                    <h4>
                        Visualization of exterior design is extremely important part of our job. Every high-quality project needs to be visualized. Usually client doesn't properly understand how project will look like on the outside. Full visualiztion helps client to feel what to expect when constructing will be finished.
                    </h4>
                    <h4>
                        While doing exterior design project, we consider all conditions that can affect the object: landscape, colouristics, shadows, external details. Pure architectural part doesn't give any understanding of how future building will be presented in custom surrounding, but visualization does.
                    </h4>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <img src="{{ asset('bundles/applicationlanding/images/house.png')  }}" class="img-responsive pull-right" alt="">
                    </div>
                    <div class="col-md-4 work-steps">
                        <h3 class="text-uppercase"><strong>That's how we work:</strong></h3>
                        <div class="work-step">
                            <p>
                                <img src="{{ asset('bundles/applicationlanding/images/number-one.png')  }}" class="img-header pull-left" alt="">
                                <span>Client provides us project's architectural plan with all proportions, measurements and digits.</span>
                                <span class="clearfix"></span>
                            </p>
                        </div>
                        <hr>
                        <div class="work-step">
                            <p>
                                <img src="{{ asset('bundles/applicationlanding/images/number-two.png')  }}" class="img-header pull-left" alt="">
                                <span>After we inspect client's requirements, vision and appetites, we measure a workload and set deadline.</span>
                                <span class="clearfix"></span>
                            </p>
                        </div>
                        <hr>
                        <div class="work-step">
                            <p>
                                <img src="{{ asset('bundles/applicationlanding/images/number-three.png')  }}" class="img-header pull-left" alt="">
                                <span>When several editions being done, client gets ready-to-use perfectly visualized project view.</span>
                                <span class="clearfix"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <p class="text-center next-page">
                        <span class="text-uppercase">our works</span>
                        <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                    </p>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-web">
                <div class="row row-headers">
                    <h2><strong>Web</strong> development</h2>
                    <h4>
                        VISUALMASTERS team create different categories of websites, from presentation page to complicated systems like webstores or bulletin boards. Mainly we use Symfony2/Laravel5, JoomlaCMS and WordPress systems based on PHP. Our developing team stands for the proper approach to work. Every created webside pass beta-testing. After succeeding on beta-testing, it continuosly goes to produciton.
                    </h4>
                </div>

                <div class="row vdivide web-categories">
                    <div class="col-md-4 web-category">
                        <div class="img">
                            <img src="{{ asset('bundles/applicationlanding/images/symfony.png')  }}" class="img-responsive center-block" alt="">
                        </div>
                        <p>Symfony2 is the safest programming language for web-development. Front end mostly created with Bootstrap library. We use JavaScript to add more dynamics to your website.</p>
                    </div>
                    <div class="col-md-4 web-category">
                        <div class="img">
                            <img src="{{ asset('bundles/applicationlanding/images/joomla.png')  }}" class="img-responsive center-block" alt="">
                        </div>
                        <p>Joomla is a content management system for publishing web content. It is built on a model-view-controller web application framework that can be used indepentdently.</p>
                    </div>
                    <div class="col-md-4 web-category">
                        <div class="img">
                            <img src="{{ asset('bundles/applicationlanding/images/wp.png')  }}" class="img-responsive center-block" alt="">
                        </div>
                        <p>WordPress is the most popular blogging system in use of the Web. It is based on PHP and MySQL. It provides CMS for creating, editing and managing content on the website.</p>
                    </div>
                </div>

                <div class="row">
                    <h4>Development is based on Behaviour Driven principles. Client provides us specification in the form of instructions. In other words - scenario. Based on scenario, developers start coding. After coding goes beta-testing.</h4>
                </div>

                <div class="row">
                    <h4><strong>We use Continuous Integration services for testing, which are carrying beta. If testing is successful, a code goes on production.</strong></h4>
                </div>

                <div class="row">
                    <p class="text-center next-page">
                        <span class="text-uppercase">our works</span>
                        <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                    </p>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-special">
                <div class="row row-headers">
                    <h2><strong>Special</strong> projects</h2>
                    <h4>
                        Steel, wood and glass are the oldest materials which were used by humanity to create household items, tools and even clothes. Nowadays we use these materials the same ways, including interior benefication. Each order we receive and create is individual. In the process of creating we don't use any automatic tools, every item is created manually. We also warn our clients that the similarity of sketch and a ready item is more than 70%. It is due to the level of complexity of an item.
                    </h4>
                </div>

                <div class="row vdivide special-categories">
                    <div class="col-md-4 special-category">
                        <div class="img">
                            <img src="{{ asset('bundles/applicationlanding/images/wood.png') }}" class="img-responsive center-block" alt="">
                        </div>
                        <h3>Wood</h3>
                        <p>Wooden decoration elements are highly valued since the beginning of time. Strong wooden breeds bring naturalness, heling attributes and luxury into people's homes. You can order a unique design of wooden interior items of any difficulty. We product stairs, picture frames, doors, furniture and other items made of wood.</p>
                    </div>
                    <div class="col-md-4 special-category">
                        <div class="img">
                            <img src="{{ asset('bundles/applicationlanding/images/steel.png') }}" class="img-responsive center-block" alt="">
                        </div>
                        <h3>Steel</h3>
                        <p>Handmade steel elements are used to be high value and practiciality in usual life. For instance, steel wares are often take place being a fence, gates, grilles, even a family coat of arms hanging in the hall. We have enough capabilities to ensure client's will: from projecting an item's design to creating direct item.</p>
                    </div>
                    <div class="col-md-4 special-category">
                        <div class="img">
                            <img src="{{ asset('bundles/applicationlanding/images/glass.png') }}" class="img-responsive center-block" alt="">
                        </div>
                        <h3>Glass</h3>
                        <p>You can also order a design project of stained glass and it's producing. We need to know size, a type of design which is required. After a while, we propose several sketches(every sketch is created manually, just like any other item) and then it goes to production.</p>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ asset('bundles/applicationlanding/images/steel.png')  }}" class="img-responsive pull-left" alt="">
                    <h5>VisualMasters designers in cooperation with blacksmiths product forged items of different size and complexity. We allow customers to follow the process stage by stage. Price formation depends on several factors: weight, material, quantity, difficulty level. We offer great design and producing decisions of forged items to bring your living space more respect and solidity. Even if you have a design project, you may order an item to create it in our workshop.</h5>
                    <h4><strong>We use Continuous Integration services for testing, which are carrying beta. If testing is successful, a code goes on production.</strong></h4>
                </div>

                <div class="row">
                    <p class="text-center next-page">
                        <span class="text-uppercase">our works</span>
                        <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>