<section id="descriptions" class="bg-grey">
    <div class="container container-fluid">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-interior">
                <div class="row row-headers">
                    <h2>3d <strong>INTERIOR </strong> DESIGN</h2>
                    <h4>
                        Interior design is the most important aspect of creating your living space. Design is the key to achieving your
                        ideal living or working space. We start by discussing your design goals and combine this with effective space
                        planning, design and cost consultancy to ensure that everything runs smoothly from start to finish. Together,
                        we will use our extensive knowledge of interior design to support you with bringing your design ideas to reality
                        and to create the living and working environment of your dreams.
                        Our project management team will ensure that every aspect is delivered to the highest quality, on time and on budget.
                    </h4>
                </div>

                <div class="row vdivide interior-descriptions">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <img src="{{ asset('bundles/applicationlanding/images/number-one.png')  }}" class="img-responsive center-block" alt="Number one">
                        <p>
                            The first step to bringing a project to life is creating a sketch. We send it to the
                            client to confirm and make corrections if necessary.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <img src="{{ asset('bundles/applicationlanding/images/number-two.png')  }}" class="img-responsive center-block" alt="Number two">
                        <p>
                            Next, you'll be given black & white rendering of the
                            project and a detailed itinerary of items which will
                            be required to bring your design to life. We will take
                            into consideration issues of space and practicality whilst
                            encorporating your vision. What you will recieve is a
                            virtual model of the completed project.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img src="{{ asset('bundles/applicationlanding/images/number-three.png')  }}" class="img-responsive center-block" alt="Number three">
                        <p>
                            Everything will be taken into account to create the final
                            design, a high-quality virtual image of your project. The
                            latest software will help you understand the philosophy of
                            our design and you will be encouraged to give any final comments on this.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ asset('bundles/applicationlanding/images/couch.png')  }}" class="img-responsive center-block image-description" alt="">
                </div>

                <div class="row">
                    <a href="#portfolio" class="text-center page-scroll next-page">
                        <span class="text-uppercase">our works</span>
                        <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                    </a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-exterior">
                <div class="row row-headers">
                    <h2>3d <strong>EXTERIOR </strong> design</h2>
                    <h4>
                        When you first approach a building, you focus on its exterior. It draws you in and inspires in its visitors a desire to explore further. We use our design expertise alongside the desires of our clients to successfully create high-quality exterior design. Our visualization techniques help our clients to explore their creativity and to see this come to life.
                    </h4>
                    <h4>
                        We consider all conditions that will affect the product include the landscape, colours and external details. Through vizualisation, you will be able to see how your project will look in its surrounding environment.
                    </h4>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <img src="{{ asset('bundles/applicationlanding/images/house.png')  }}" class="img-responsive pull-right" alt="">
                    </div>
                    <div class="col-md-4 work-steps">
                        <h3 class="text-uppercase"><strong>HOW WE WORK:</strong></h3>
                        <div class="work-step">
                            <p>
                                <img src="{{ asset('bundles/applicationlanding/images/number-one.png')  }}" class="img-header pull-left" alt="">
                                <span>The client provides us with the architectural plan of the project, including proportions and measurements.</span>
                                <span class="clearfix"></span>
                            </p>
                        </div>
                        <hr>
                        <div class="work-step">
                            <p>
                                <img src="{{ asset('bundles/applicationlanding/images/number-two.png')  }}" class="img-header pull-left" alt="">
                                <span> We explore the vision of the client, analyse the workload and set a deadline.</span>
                                <span class="clearfix"></span>
                            </p>
                        </div>
                        <hr>
                        <div class="work-step">
                            <p>
                                <img src="{{ asset('bundles/applicationlanding/images/number-three.png')  }}" class="img-header pull-left" alt="">
                                <span>Communicating with the client, we visualise the design and provide a ready-to-use project view.</span>
                                <span class="clearfix"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <a href="#portfolio" class="text-center page-scroll next-page">
                        <span class="text-uppercase">our works</span>
                        <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                    </a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-web">
                <div class="row row-headers">
                    <h2><strong>Web</strong> development</h2>
                    <h4>
                        VISUALMASTERS team create different categories of websites 3D integration, from presentation pages to detailed systems such as Web Stores or Bulletin Boards. Mainly we use Symfony2/Laravel5, JoomlaCMS and WordPress systems based on PHP. Every created webside will pass beta-testing. After succeeding on beta-testing, it will continue to production.
                    </h4>
                </div>

                <div class="row vdivide web-categories">
                    <div class="col-md-4 web-category">
                        <div class="img">
                            <img src="{{ asset('bundles/applicationlanding/images/symfony.png')  }}" class="img-responsive center-block" alt="">
                        </div>
                        <p>Symfony2 is the safest programming language for web-development. Front end mostly created with Bootstrap library. We use JavaScript to add more dynamics to your website.</p>
                    </div>
                    <div class="col-md-4 web-category">
                        <div class="img">
                            <img src="{{ asset('bundles/applicationlanding/images/joomla.png')  }}" class="img-responsive center-block" alt="">
                        </div>
                        <p>Joomla is a content management system for publishing web content. It is built on a model-view-controller web application framework that can be used independently.</p>
                    </div>
                    <div class="col-md-4 web-category">
                        <div class="img">
                            <img src="{{ asset('bundles/applicationlanding/images/wp.png')  }}" class="img-responsive center-block" alt="">
                        </div>
                        <p>WordPress is the most popular blogging system on the internet. It is based on PHP and MySQL. It provides CMS for creating, editing and managing content on the website.</p>
                    </div>
                </div>

                <div class="row">
                    <h4>Development is based on behaviour driven principles. The client will provide us specification in the form of instructions. In other words - a scenario. Based on the scenario, our developers will start coding. This is then followed by beta-testing.</h4>
                </div>

                <div class="row">
                    <h4><strong>We use Continuous Integration services for testing, which are carrying beta. If testing is successful, a code goes on production.</strong></h4>
                </div>

                <div class="row">
                    <a href="#portfolio" class="text-center page-scroll next-page">
                        <span class="text-uppercase">our works</span>
                        <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                    </a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-special">
                <div class="row row-headers">
                    <h2><strong>Special</strong> projects</h2>
                    <h4>
                        Steel, wood and glass are some of the oldest materials use by humans to create household items and tools, amongst other everyday objects. Nowadays we use these materials the same ways, including interior benefication. We acknowledge our clients individuality, which is reflected in the individuality of the orders we receive. In the process of creating the final product, we ensure that the individuality continues. We don't use any automatic tools, every item is created manually.
                    </h4>
                </div>

                <div class="row vdivide special-categories">
                    <div class="col-md-4 special-category">
                        <div class="img">
                            <img src="{{ asset('bundles/applicationlanding/images/wood.png') }}" class="img-responsive center-block" alt="">
                        </div>
                        <h3>Wood</h3>
                        <p>Wooden decoration elements are highly valued since the beginning of time. Wood possesses calming and healing qualities whilst bringing a sense of luxury and nature into your home. Amongst other objects, we are able to produce stairs, picture frames, doors, furniture and other items made of wood according to your design ideas.</p>
                    </div>
                    <div class="col-md-4 special-category">
                        <div class="img">
                            <img src="{{ asset('bundles/applicationlanding/images/steel.png') }}" class="img-responsive center-block" alt="">
                        </div>
                        <h3>Steel</h3>
                        <p>Handmade steel elements are highly practical in everyday life. For instance, steel is a key element in fences, gates, grills, even a family coat of arms to hang in the hall. We are willing to work with you to deevelop a custom or modified steel product, from visualising the concept to developing the product.</p>
                    </div>
                    <div class="col-md-4 special-category">
                        <div class="img">
                            <img src="{{ asset('bundles/applicationlanding/images/glass.png') }}" class="img-responsive center-block" alt="">
                        </div>
                        <h3>Glass</h3>
                        <p>Glass is a highly unique material, embraced for its function and beauty. You can order a design project of stained glass, deciding its size and a required form. We will propose several sketches, each one created manually, for you to decide on, which will then go to production.</p>
                    </div>
                </div>

                <div class="row special-emphasis">
                    <img src="{{ asset('bundles/applicationlanding/images/icon-hammer.png')  }}" class="img-responsive pull-left " alt="">
                    <p>VisualMasters designers work in cooperation with blacksmiths to create items of different size and complexity. We allow customers to follow the process stage by stage. The price will depend on several factors: weight, material, quantity and difficulty level. This will all be discussed with the customer during the design stage. We offer intricately designed objects to bring your living space to life. If you have a design project, you may also order an item to create in our workshop to be encorporated into the end product.</p>
                </div>

                <div class="row">
                    <a href="#portfolio" class="text-center page-scroll next-page">
                        <span class="text-uppercase">our works</span>
                        <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>