<section id="descriptions" class="bg-grey">
    <div class="container container-fluid">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-interior">
                <div class="row row-headers">
                    <h2>3d <strong>interior</strong> design</h2>
                    <h4>
                        Interior design is the first and the one of the most important part in creating your living space. Doing it more comfortable and aesthetic, you can't avoid designing.
                        Ordering a design project minimises your risks of getting bad results and saves your nerves.
                    </h4>
                </div>

                <div class="row vdivide interior-descriptions">
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/applicationlanding/images/number-one.png')  }}" class="img-responsive center-block" alt="Number one">
                        <p>
                            The first step to bringing a project to life is creating a sketch. We send it to the
                            client to confirm and make corrections if necessary.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/applicationlanding/images/number-two.png')  }}" class="img-responsive center-block" alt="Number two">
                        <p>
                            On the next step you'll be given black&white rendering, a net without textures and a list
                            of items, which will go in the project. In other words, it's a virtual edition of the
                            whole project, a sceleton. This step considers ergonomic issue of space, apartment's
                            practiciality.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/applicationlanding/images/number-three.png')  }}" class="img-responsive center-block" alt="Number three">
                        <p>
                            The last step considers all components, accurate detalization, shadows, lights,
                            materials. You are getting a finished project in any resolution you need. This will be
                            more than enough to any of your furnishing masters.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ asset('bundles/applicationlanding/images/couch.png')  }}" class="img-responsive center-block" alt="">
                    <a href="#portfolio" class="text-center page-scroll next-page">
                        <span class="text-uppercase">our works</span>
                        <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                    </a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-exterior">
                <div class="row row-headers">
                    <h2>3d <strong>exterior</strong> design</h2>
                    <h4>
                        Visualization of exterior design is extremely important part of our job. Every high-quality project needs to be visualized. Usually client doesn't properly understand how project will look like on the outside. Full visualiztion helps client to feel what to expect when constructing will be finished.
                    </h4>
                    <h4>
                        While doing exterior design project, we consider all conditions that can affect the object: landscape, colouristics, shadows, external details. Pure architectural part doesn't give any understanding of how future building will be presented in custom surrounding, but visualization does.
                    </h4>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <img src="{{ asset('bundles/applicationlanding/images/house.png')  }}" class="img-responsive pull-right" alt="">
                    </div>
                    <div class="col-md-4 work-steps">
                        <h3 class="text-uppercase"><strong>That's how we work:</strong></h3>
                        <div class="work-step">
                            <p>
                                <img src="{{ asset('bundles/applicationlanding/images/number-one.png')  }}" class="img-header pull-left" alt="">
                                <span>Client provides us project's architectural plan with all proportions, measurements and digits.</span>
                                <span class="clearfix"></span>
                            </p>
                        </div>
                        <hr>
                        <div class="work-step">
                            <p>
                                <img src="{{ asset('bundles/applicationlanding/images/number-two.png')  }}" class="img-header pull-left" alt="">
                                <span>After we inspect client's requirements, vision and appetites, we measure a workload and set deadline.</span>
                                <span class="clearfix"></span>
                            </p>
                        </div>
                        <hr>
                        <div class="work-step">
                            <p>
                                <img src="{{ asset('bundles/applicationlanding/images/number-three.png')  }}" class="img-header pull-left" alt="">
                                <span>When several editions being done, client gets ready-to-use perfectly visualized project view.</span>
                                <span class="clearfix"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <p class="text-center next-page">
                        <span class="text-uppercase">our works</span>
                        <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                    </p>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-special">
                <div class="row row-headers">
                    <h2><strong>Special</strong> orders</h2>
                    <h4>
                        Interior design is the first and the one of the most important part in creating your living space. Doing it more comfortable and aesthetic, you can't avoid designing.
                        Ordering a design project minimises your risks of getting bad results and saves your nerves.
                    </h4>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/applicationlanding/images/number-one.png')  }}" class="img-header" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/applicationlanding/images/number-two.png')  }}" class="img-header" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/applicationlanding/images/number-three.png')  }}" class="img-header" alt="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-text">
                        <p>
                            The first step to bringing a project to life is creating a sketch. We send it to the
                            client to confirm and make corrections if necessary.
                        </p>
                    </div>
                    <div class="col-md-4 col-text">
                        <p>
                            On the next step you'll be given black&white rendering, a net without textures and a list
                            of items, which will go in the project. In other words, it's a virtual edition of the
                            whole project, a sceleton. This step considers ergonomic issue of space, apartment's
                            practiciality.
                        </p>
                    </div>
                    <div class="col-md-4 col-text">
                        <p>
                            The last step considers all components, accurate detalization, shadows, lights,
                            materials. You are getting a finished project in any resolution you need. This will be
                            more than enough to any of your furnishing masters.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ asset('bundles/applicationlanding/images/couch.png')  }}" class="img-header" alt="">
                    <p class="text-center next-page">
                        <span class="text-uppercase">our works</span>
                        <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>