{% extends "::base.html.twig" %}

{% set onIndexPage = app.request.get('_route') != 'index_page' %}

{% block title %}
    {{ gallery.metaTitle }}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/imperivgallery/css/jquery.maximage.min.css"
        "bundles/imperivgallery/css/gallery.css"
            filter="yui_css"
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block content %}
    
    {#-------------- Gallery controls --------------#}
    <div id="gallery_controls">
        <div id="arrow_left">
            {% image 'bundles/imperivgallery/images/arrow_left.png' %}
                <img src="{{ asset_url }}" alt="Slide Left" />
            {% endimage %}
        </div>
        <div id="arrow_right">
            {% image 'bundles/imperivgallery/images/arrow_right.png' %}
                <img src="{{ asset_url }}" alt="Slide Right" />
            {% endimage %}
        </div>
        
        {% if onIndexPage %}
            <div id="cycle-nav"><ul></ul></div>
            <div class="toggle">Play/Pause</div>
        {% endif %}
    </div>
    {#-------------- Gallery controls --------------#}

    <div id="maximage">
        {% for slide in slides %}
            <div class="item">
                {% media slide.imageContent, 'big' %}
                
                {#-------------- In-slide content --------------#}
                {% if (slide.textContent is not null) %}
                    <div class="transp-zone" style="
                         background: #{{ slide.transparentZoneColor }};
                         opacity: {{ slide.transparentZoneOpacity }};
                         width: {{ slide.transparentZoneWidth }}px;
                         {% if loop.last %}
                            margin-right: -{{ (slide.transparentZoneWidth/2)-40 }}px;
                        {% else %}
                            margin-left: -{{ (slide.transparentZoneWidth/2)-40 }}px;
                        {% endif %}
                        
                        {% if slide.transparentZonePosition != null %}
                            left: {{ slide.transparentZonePosition }}%;
                        {% endif %}
                    ">
                        <div class="transp-zone-content">
                            {{ slide.textContent | raw }}
                        </div>
                        {% if slide.transparentZoneClosable %}
                            <div class="transp-zone-controls">
                                <span class="transp-zone-hide  glyphicon glyphicon-chevron-up"></span>
                                <span class="transp-zone-reveal glyphicon glyphicon-chevron-down invisible"></span>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                {#-------------- In-slide content --------------#}
                
            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        "bundles/imperivgallery/js/jquery.cycle.all.js"
        "bundles/imperivgallery/js/jquery.easing.1.3.js"
        "bundles/imperivgallery/js/jquery.maximage.js"
        filter="yui_js"
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script type="text/javascript" charset="utf-8">
        var slidesTimeout = {{ gallery.slidesTimeout }}
        $(function(){
            $('#maximage').maximage({
                cycleOptions: {
                    fx:'fade',
                    speed: 1000,
                    timeout: slidesTimeout,
                    prev: '#arrow_left',
                    next: '#arrow_right',
                    pause: 1,
                    {% if onIndexPage %}
                        pager: '#cycle-nav ul',
                        pagerAnchorBuilder: function(idx, slide) {
                            var imgsrc = jQuery.Slides[idx].url;
                            return '<li><a href="#" rel="nofollow"><img src=' + imgsrc + ' /></a></li>';
                        }
                    {% endif %}
                },
                onFirstImageLoaded: function(){
                    $('#maximage').fadeIn('fast');
                }
            });
        });

        // Left/Right arrow keys to navigate
        $(document).keydown(function(event) {
            if (event.keyCode == 37) { $('#arrow_left').click(); event.preventDefault(); }
            if (event.keyCode == 38) { $('.current-slide .transp-zone-hide:not(.invisible)').click(); event.preventDefault(); }
            if (event.keyCode == 39) { $('#arrow_right').click(); event.preventDefault(); }
            if (event.keyCode == 40) { $('.current-slide .transp-zone-reveal:not(.invisible)').click(); event.preventDefault(); }
        });
    </script>
    <script type="text/javascript" src="{{ asset("bundles/imperivgallery/js/gallery.js") }}"></script>
{% endblock javascripts%}