{% extends "::base.html.twig" %}

{% block title %}
    Explore more
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/imperivsite/css/bootstrap-switch.css"
    filter="yui_css, cssrewrite"%}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    <style>
        .tabNav {
            font-family: sans-serif;
            letter-spacing: 1px;
            width: 100%;
            margin: auto;
            margin-bottom: 0px;
            background: grey;
            height: 23px;
            position: absolute;
            top: 23px;
        }

        .tabNav li {
            top: 0;
            display: inline;
            list-style: none;
        }

        .tabNav>li {
            margin-left: 10px;
            position: absolute;
        }

        .tabNav li:first-child {
            left: 10%;
        }

        .tabNav>li:nth-of-type(2) {
            left: 20%;
        }

        .tabNav>li:nth-of-type(3) {
            left: 31%;
        }

        .tabNav>li:nth-of-type(4) {
            left: 45%;
        }

        .tabNav>li:nth-of-type(5) {
            left: 59%;
        }

        .tabNav>li:last-child {
            right: 10%;
        }

        .tabNav li a {
            font-family: arial;
            font-size: 15px;
            color: #aaa;
            text-decoration: none;
        }

        .tabs {
            min-height: 100%;
            min-width: 100%;
            /*background-image: url('http://fc07.deviantart.net/fs70/f/2013/174/3/e/recycled_texture_background_by_sandeep_m-d6aeau9.jpg');*/
            color: #555;
        }

        .tabNav li a:hover {
            color: #fff;
        }

        .tabNav li .selected {
            color: #fff;
        }

        .tabs h1 {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 1.5em;
            line-height: 1.5em;
            letter-spacing: -0.05em;
            margin-bottom: 20px;
            padding: .1em 0;
            color: #444;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            text-align: center;
        }

        .tabs h1:before,
        .tabs h1:after {
            content: "";
            position: relative;
            display: inline-block;
            width: 50%;
            height: 1px;
            vertical-align: middle;
            background: #f0f0f0;
        }

        .tabs h1:before {
            left: -.5em;
            margin: 0 0 0 -50%;
        }

        .tabs h1:after {
            left: .5em;
            margin: 0 -50% 0 0;
        }

        .text-wrapper {
            display: block;
            min-width: 750px;
            width: 65%;
            margin: 0 auto;
            padding: 40px 0 0px 0;
            color: #554;
            min-height: 100%;
        }

        .text-content:before, .text-content:after{
            position: absolute;
            width: 40%;
            height: 10px;
            content: ' ';
            left: 12px;
            bottom: 12px;
            background: transparent;
        }

        .text-content:after{
            left: auto;
            right: 12px;
            -webkit-transform: skew(5deg) rotate(5deg);
            -moz-transform: skew(5deg) rotate(5deg);
            -ms-transform: skew(5deg) rotate(5deg);
            -o-transform: skew(5deg) rotate(5deg);
            transform: skew(5deg) rotate(5deg);
        }
        .text-content {
            background: url('../img/cream_dust.png');
            display: block;
            width: 100%;
            margin-top: 30px;
            padding: 25px 20px;
            font-size: 13px;
            -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
            -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="tabs">
        <ul class="tabNav">
            {% for category in categories %}
                <li role="presentation" class="{{ loop.index == 1 ? "active" }}">
                    <a href="#tab-{{ category.id }}" aria-controls="tab-{{ category.id }}" role="tab" data-toggle="tab">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for category in categories %}
                <div id="tab-{{ category.id }}" role="tabpanel" class="tab-pane {{ loop.index == 1 ? "active" }}">
                    <div class="text-wrapper">
                        <div class="text-content">
                            <h1>{{ category.name }}</h1>

                            <article>
                                {{ category.description|raw }}
                            </article>

                            <div class="text-center">
                                <a class="btn btn-primary" data-toggle="modal" data-target="#{{ category.name|slugify }}">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modal -->
    {% for category in categories %}
        <div class="modal fade" id="{{ category.name|slugify }}" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ category.name }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ form(forms[loop.index%3]) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        "bundles/imperivsite/js/bootstrap-switch.js"
    filter="yui_js" %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $("[type='checkbox']").bootstrapSwitch({
                size : 'small',
                onText : 'I',
                offText : 'O',
                onColor : 'success',
                offColor : 'warning'
            });
        });
    </script>
{% endblock javascripts %}