{% extends "::base.html.twig" %}

{% block content %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Visual<span>Masters</span></a>
            </div>

            <div class="collapse navbar-collapse mobile-menu" id="bs-example-navbar-collapse-1">
                <a class="visible-xs mobile-logo" href="#page-top" >Visual<span>Masters</span></a>
                <button type="button" class="visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">&times;</button>
                <ul class="nav navbar-nav navbar-right mobile-menu-list">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">What we do</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Our Works</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#media">Media</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact Us</a>
                    </li>
                    <li class="order-button">
                        <a href="#" data-toggle="modal" data-target="#orderModal" class="order">Order</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {{ include('LandingBundle:default/sections:main.html.twig') }}

    {{ include('LandingBundle:default/sections:about.html.twig') }}

    {{ include('LandingBundle:default/sections:services.html.twig') }}

    {{ include('LandingBundle:default/sections:descriptions.html.twig') }}

    {{ include('LandingBundle:default/sections:portfolio.html.twig') }}

    {{ include('LandingBundle:default/sections:media.html.twig') }}

    {{ include('LandingBundle:default/sections:contact.html.twig') }}

{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        (function (){
            'use strict';

            $('.main-footer a').click(function (e) {
                $('.main-footer a.active').toggleClass('active');

                var prevTabControl = $(e.target).attr('aria-controls');
                $(".main-footer a[aria-controls='" + prevTabControl + "']").toggleClass('active');
                e.preventDefault();
                $(this).tab('show');
            });

            $("#order-form form").on('submit', function(e) {
                $.ajax({
                    type: 'POST',
                    url: "{{ path('process_order') }}",
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response.status == 'ok') {
                            $("#order-form").toggleClass('hidden');
                            $("#order-success-note").toggleClass('hidden');
                        }
                    }
                });
                return false;
            });

            var inputs = $('.inputfile');
            Array.prototype.forEach.call( inputs, function( input )
            {
                var label	 = input.nextElementSibling,
                    labelVal = label.innerHTML;

                input.addEventListener( 'change', function( e )
                {
                    var fileName = e.target.value.split( '\\' ).pop();

                    if( fileName )
                        label.querySelector( 'span' ).innerHTML = 'Attached...';
                    else
                        label.innerHTML = labelVal;
                });

                // Firefox bug fix
                input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
                input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
            });

            $('#orderModal').on('show.bs.modal', function () {
                $("form[name='order-form']")[0].reset();
                $('#order-form').removeClass('hidden');
                $('#order-success-note').addClass('hidden');
            });

            var $loader = $('#loader').hide();
            $(document)
                    .ajaxStart(function () {
                        $loader.show();
                        $('.btn-submit').toggleClass('loader').prop('disabled', true);
                        $('.btn-attach').addClass('disabled');
                        $('#btn-submit-text').hide();
                    })
                    .ajaxStop(function () {
                        $loader.hide();
                        $('.btn-submit').toggleClass('loader').prop('disabled', false);
                        $('.btn-attach').removeClass('disabled');
                        $('#btn-submit-text').show();
                    });
        })();
    </script>

{% endblock javascripts %}