{% extends "::base.html.twig" %}

{% block title %}Explore more{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/imperivsite/css/sky-forms.css"
        "bundles/imperivsite/css/explore.css"
    filter="yui_css, cssrewrite"%}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block content %}
    <div class="container content">
        <div class="row margin-bottom-30">
            <div class="col-md-9 mb-margin-bottom-30">
                <div class="headline"><h2>Contact Form</h2></div>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas feugiat. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit landitiis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas feugiat.</p><br>

                {{ form_start(form, {'attr': {'class': 'sky-form sky-changes-3'}}) }}
                {#<form action="assets/php/sky-forms-pro/demo-contacts-process.php" method="post" id="sky-form3" class="sky-form sky-changes-3" novalidate="novalidate">#}
                    <fieldset>
                        <div class="row">
                            <section class="col col-xs-6">
                                <label class="label">Name</label>
                                <label class="input">
                                    <i class="icon-append glyphicon glyphicon-user"></i>
                                    {{ form_widget(form.full_name) }}
                                </label>
                            </section>
                            <section class="col col-xs-6">
                                <label class="label">E-mail</label>
                                <label class="input">
                                    <i class="icon-append glyphicon glyphicon-envelope"></i>
                                    {{ form_widget(form.email) }}
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-xs-4">
                                <label class="label">Phone number</label>
                                <label class="input">
                                    <i class="icon-append glyphicon glyphicon-earphone"></i>
                                    {{ form_widget(form.phone) }}
                                </label>
                            </section>

                            <section class="col col-xs-4">
                                <label class="label">Address</label>
                                <label class="input">
                                    <i class="icon-append glyphicon glyphicon-pushpin"></i>
                                    {{ form_widget(form.address) }}
                                </label>
                            </section>

                            <section class="col col-xs-4">
                                <label class="label">Postal</label>
                                <label class="input">
                                    <i class="icon-append glyphicon glyphicon-send"></i>
                                    {{ form_widget(form.postal) }}
                                </label>
                            </section>
                        </div>

                        <section>
                            <label class="label">Comments</label>
                            <label class="textarea">
                                <i class="icon-append glyphicon glyphicon-comment"></i>
                                {{ form_widget(form.comments) }}
                            </label>
                        </section>

                    </fieldset>

                    <footer>
                        <button type="submit" class="btn-u">Place an order</button>
                    </footer>

                    <div class="message">
                        <i class="rounded-x fa fa-check"></i>
                        <p>Your message was successfully sent!</p>
                    </div>
                {{ form_rest(form) }}
            </div><!--/col-md-9-->

            <div class="col-md-3">
                <!-- Contacts -->
                <div class="headline"><h2>Contacts</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
                    <li><a href="#"><i class="fa fa-home"></i>5B Streat, City 50987 New Town US</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>info@visualmasters.com</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>1(222) 5x86 x97x</a></li>
                    <li><a href="#"><i class="fa fa-globe"></i>http://visualmasters.com</a></li>
                </ul>

                <!-- Business Hours -->
                <div class="headline"><h2>Business Hours</h2></div>
                <ul class="list-unstyled margin-bottom-30">
                    <li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                    <li><strong>Saturday:</strong> 11am to 3pm</li>
                    <li><strong>Sunday:</strong> Closed</li>
                </ul>

                <!-- Why we are? -->
                <div class="headline"><h2>Why we are?</h2></div>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i> Odio dignissimos ducimus</li>
                    <li><i class="fa fa-check color-green"></i> Blanditiis praesentium volup</li>
                    <li><i class="fa fa-check color-green"></i> Eos et accusamus</li>
                </ul>
            </div><!--/col-md-3-->
        </div><!--/row-->
    </div>
{% endblock content %}