{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/imperivsite/css/style.css"
        "bundles/imperivsite/css/magnific-popup.css"
        "bundles/imperivsite/css/quake.css"
    filter="yui_css, cssrewrite"%}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
    <style rel="stylesheet">
        body { background-image: url('{{ asset("bundles/imperivsite/img/stardust.png") }}');}
        figure { background-image: url('{{ asset("bundles/imperivsite/img/upfeathers.png") }}'); }

        html, body, .container-fluid {
            height: 100%;
        }

        .container-fluid {
            position: absolute;
            top:0;
            padding-top: 30px;
        }
        .row {
            margin-bottom: -1000px;
            height: 100%;
            display: table;
        }
        .col-xs-9 {
            float: none;
            display: table-cell;
        }

        .col-xs-3 {
            float: none;
            display: table-cell;
            vertical-align: middle;
        }
    </style>
    <script src="{{ asset("bundles/imperivsite/js/modernizr.js") }}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.js"></script>
{% endblock stylesheets %}

{% block title %}
    Video editing
{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-9 no-float">
                {% for video in videos %}
                    <div class="col-xs-4">
                        <a class="image-link shake-me" href="//vimeo.com/{{ video.video.providerReference }}">
                            <figure style="transform: rotate({{ random([1,2,3,4,-1,-2,-3,4]) }}deg)">
                                {% thumbnail video.video, 'big' %}
                                <figcaption>
                                    <p>{{ video.video.name }}</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="col-xs-3 transp-zone transp-zone-vertical" style="background: #000000; opacity: 0.7;">
                    <div class="transp-zone-content">
                        asdfasdfas
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        "bundles/imperivsite/js/touch.js"
        "bundles/imperivsite/js/jquery.magnific-popup.js"
    filter="yui_js" %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $('.image-link').magnificPopup({type:'iframe', pattern: 'vimeo'});
        });
    </script>
{% endblock javascripts %}